.progress-container {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 100%;
  max-width: 600px; 
  box-sizing: border-box;
}

.progress-value {
  transition: width 0.5s ease;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: var(--progress-bar);
  height: 30px;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  font-weight: bold;
}

.progress-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white; 
  font-weight: bold;
}

/*  for smaller screens */
@media (max-width: 600px) {
  .progress {
    height: 40px; 

  .progress-value {
    height: 30px; 
  }

  .progress-text {
    font-size: 0.9rem; 
  }
}