.w-wrapper{
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.welcome-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; 
  text-align: center;
  
}

.w-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 15px 10px -15px var(--box-shadow);
  padding: 1.5rem;
}

.w-header h1 {
  align-self: center;
 font-size: 2.5rem; 
margin: 0.2rem 0;
}

.w-select {
  color: var(--border-color);
  font-size: 1.3rem;
  margin-bottom: 3rem; 
  text-align: center;
}

.w-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; 
    width: 100%; 
}

.w-button-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%; 
}


.w-buttons button {
    font-size: 1.5rem;
    padding: 1rem 2rem; 
    width: 100%;
}

.w-info-text {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--border-color);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    
}

.logo img {
    height: 100%;
}

.toggle-mode-button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}


/* Responsive adjustments */
@media (min-width: 600px) {
  .w-buttons {
    grid-template-columns: repeat(2, 1fr); /* Two buttons in row for larger screens */
  }
  .w-button-item {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    width: 100%;
    justify-items: center;
  }

  .w-buttons button{
    width: fit-content;
    justify-self: center;
  }

}